@model Rumo.Models.Aet

@{
    ViewData["Title"] = "Details";
    var versersList = ViewData["Versers"] as List<Verser>;
}

<h1>Details</h1>

<div>
    <h4>Aet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Plate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Verser" asp-action="Create" asp-route-id="@Model?.id">Adicionar um Veiculo no verso</a>
</div>

<br>
<p><Strong>Veiculos no verso</Strong></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(versersList => versersList.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(versersList => versersList.Vehicle.DuoDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (versersList != null) { 
@foreach (var item in versersList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.DuoDate)
            </td>
            <td>
                <a asp-controller="Verser" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-controller="Verser" asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-controller="Verser" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
