@model IEnumerable<Rumo.Models.Aet>

@{
    ViewData["Title"] = "Aet";
}

<h1>@ViewData["Title"]</h1>

<div justify="items-start" flex="row" style="gap: 5px; display:flex">
    <button type="button" asp-action="Create" class="btn btn-secondary">Novo Veiculo</button>
    <div justify="items-end" flex="row" style="gap: 5px; display:flex">
        <form id="vehicleForm" method="get" style="display: flex; flex-direction: row; gap: 5px; d-flex">
            <label for="plate" class="control-label"></label>
            <input id="plate" name="plate" class="form-control" />
            <button type="submit" class="btn btn-outline-success ">Detalhes</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('vehicleForm').onsubmit = function(event) {
        var plateInput = document.getElementById('plate');
        var plateValue = plateInput.value.trim();
        if (plateValue === '') {
            alert('Por favor, insira um valor para a placa.');
            event.preventDefault();
            return;
        }
        plateInput.value = plateValue.toUpperCase();
        this.action = '/Aet/Details/' + plateInput.value;
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Plate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
