@model Rumo.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renavam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renavam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chassis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chassis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuoDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Plate">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
