@model Rumo.Models.Vehicle

@{
    ViewData["Title"] = "Detalhes";
    var aetslist = ViewData["Aet"] as List<Aet>;
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renavam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renavam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chassis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chassis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuoDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Plate"><button class="btn btn-secondary">Edit</button></a> |
    <a asp-action="Index"><button class="btn btn-secondary">Back</button></a>
</div>

@if(Model != null){
    @if(Model.Type.Contains("TRATOR")){
            <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(aetslist => aetslist.Plate)
                </th>
                <th>
                    Sigla
                </th>
                <th>
                    @Html.DisplayNameFor(aetslist => aetslist.DuoDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @if (aetslist != null) { 
    @foreach (var item in aetslist) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a style="text-decoration: none; color: inherit;" asp-controller="Aet" asp-action="Edit" asp-route-id="@item.id"><button class="btn btn-secondary">Edit</button></a> |
                    <a style="text-decoration: none; color: inherit;" asp-controller="Aet" asp-action="Details" asp-route-id="@item.id"><button class="btn btn-secondary">Details</button></a> |
                    <a style="text-decoration: none; color: inherit;" asp-controller="Aet" asp-action="Delete" asp-route-id="@item.id"><button class="btn btn-secondary">Delete</button></a>
                </td>
            </tr>
        }
    }
        </tbody>
    </table>
    }
}
