@model IEnumerable<Rumo.Models.Vehicle>

@{
    ViewData["Title"] = "Veiculos";
}

<a href="/Vehicle/Index/Ativo" style="text-decoration: none; color: inherit;"><h1>@ViewData["Title"]</h1></a>

<div style="gap: 5px; display: flex; flex-wrap: wrap;">
    <div justify="items-start" flex="row" style="gap: 5px; display:flex">
        <a asp-action="Create"><button type="button" asp-action="Create" class="btn btn-secondary">Novo Veiculo</button></a>
        <div justify="items-end" flex="row" style="gap: 5px; display:flex">
            <form id="vehicleForm" method="get" style="display: flex; flex-direction: row; gap: 5px; d-flex">
                <label for="plate" class="control-label"></label>
                <input id="plate" name="plate" class="form-control" placeholder="Placa"/>
                <button type="submit" class="btn btn-outline-success ">Detalhes</button>
            </form>
        </div>
    </div>
    <div>
        <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Mensal
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" asp-action="Index" asp-route-id="Julho">Julho</a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-route-id="Agosto">Agosto</a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-route-id="Setembro">Setembro</a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-route-id="Outubro">Outubro</a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-route-id="Novembro">Novembro</a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-route-id="Dezembro"> Dezembro</a></li>
        </ul>
        </div>
    </div>
</div>

<script>
    document.getElementById('vehicleForm').onsubmit = function(event) {
        var plateInput = document.getElementById('plate');
        var plateValue = plateInput.value.trim();
        if (plateValue === '') {
            alert('Por favor, insira um valor para a placa.');
            event.preventDefault();
            return;
        }
        plateInput.value = plateValue.toUpperCase();
        this.action = '/Vehicle/Details/' + plateInput.value;
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renavam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chassis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuoDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renavam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chassis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuoDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situation)
            </td>
            <td>
                <a style="text-decoration: none; color: inherit;" asp-action="Edit" asp-route-id="@item.Plate"><button class="btn btn-secondary">Edit</button></a> |
                <a style="text-decoration: none; color: inherit;" asp-action="Details" asp-route-id="@item.Plate"><button class="btn btn-secondary">Details</button></a> |
                <a style="text-decoration: none; color: inherit;" asp-action="Delete" asp-route-id="@item.Plate"><button class="btn btn-secondary">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
